.home-container {
  text-align: center;
  padding: 60px 40px;
  background-color: #0e0e0e;
  color: #f0f0f0;
  min-height: 100vh;
}

.home-container h1 {
  font-size: 2.4rem;
  margin-bottom: 10px;
}

.home-container h3 {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #ccc;
}

.circular-card {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 50px;}


/* 🗯️ ad-it */
.logo-text {
  font-size: 30px;
  color: #4a68f8;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 6px;
}

/* ad generator */
.subheading {
  font-size: 20px;
  color: #222;
  font-weight: 600;
}

/* Ad-it */
.main-title {
  font-size: 120px;
  font-weight: 800;
  color: #4a68f8;
}

/* 팀원 이름 */
.team-members {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 100px;
}

/* codeit; AI 태그 */
.tag {
  background-color: #4a68f8;
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 0.85rem;
  font-weight: 600;
}


.card-row {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 80px;
}

.start-button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background: linear-gradient(135deg, #6366f1, #3b82f6);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
}

.start-button:hover {
  background: linear-gradient(135deg, #4f46e5, #2563eb);
  transform: translateY(-2px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.4);
}

.plan-button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background: linear-gradient(135deg, #505050, #505050);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
}

.plan-button:hover {
  background: linear-gradient(135deg, #fcfcfc, #8f8f8f);
  transform: translateY(-2px);
  box-shadow: 0 10px 24px rgb(0, 0, 0, 0.4);
}